<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render partial: 'potepan/categories/page_header', locals: { taxon: @taxon } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: 'potepan/categories/categories', locals: { taxonomies: @taxonomies } %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/categories/filter' %>
        <div class="row">
          <%= render partial: 'potepan/categories/product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render 'potepan/categories/partners_logo' %>
